<div class="card my-4">
    <div class="card-header">
        <h5>📋 Objetivos</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <input class="form-check-input me-2" type="checkbox" disabled />
            La carga inicial de la página es instantánea, mostrando los datos de forma asíncrona.
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-2" type="checkbox" disabled />
            El filtro de productos funciona en tiempo real y sin recargas de página.
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-2" type="checkbox" disabled />
            La actualización de stock es interactiva y provee feedback visual.
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-2" type="checkbox" disabled />
            El archivo <code>README.md</code> está completo con las justificaciones solicitadas.
        </li>
    </ul>
</div>